services:
  unbound:
    image: alpinelinux/unbound:latest
    container_name: unbound
    restart: unless-stopped
    network_mode: host

    volumes:
      - ./unbound.conf:/etc/unbound/unbound.conf:ro
      - ./unbound-data/named.root:/etc/unbound/root.hints:ro

    environment:
      - TZ=UTC
