[General]
ActiveBackground=31,31,31
ActiveBlend=31,31,31
ActiveForeground=170,170,172
ActiveFrame=31,31,31
ActiveGradient=31,31,31
ActiveHeaderOpacity=255
ActiveInactiveBlend=31,31,31
ActiveOpacity=255
AnimationTime=0
BorderSize=Normal
BorderSizeBottom=4
BorderSizeLeft=4
BorderSizeRight=4
BorderSizeTop=4
ButtonColor=170,170,172
ButtonColorInactive=120,120,122
CloseButton=WindowsStyle
CloseButtonLeftOffset=0
CloseButtonRightOffset=0
CloseButtonTopOffset=2
CloseUnderTitle=true
ColorizeTitleBar=false
DecorationPosition=Top
DrawBorder=true
DrawBlend=false
DrawBackgroundGradient=false
DrawTitleButtons=true
DrawTitleBarTopBorder=true
HideRenameDesktopButton=true
InactiveBackground=31,31,31
InactiveBlend=31,31,31
InactiveForeground=120,120,122
InactiveFrame=31,31,31
InactiveGradient=31,31,31
InactiveHeaderOpacity=255
InactiveOpacity=255
KeepWindowBorder=true
MaximizeButton=PlastikStyle
MaximizeButtonLeftOffset=0
MaximizeButtonRightOffset=0
MaximizeButtonTopOffset=2
MaximizeUnderTitle=true
MenuButton=WindowsStyle
MenuButtonLeftOffset=0
MenuButtonRightOffset=0
MenuButtonTopOffset=2
MenuUnderTitle=true
MinimizeButton=WindowsStyle
MinimizeButtonLeftOffset=0
MinimizeButtonRightOffset=0
MinimizeButtonTopOffset=2
MinimizeUnderTitle=true
OnAllDesktopsButton=WindowsStyle
OnAllDesktopsButtonLeftOffset=0
OnAllDesktopsButtonRightOffset=0
OnAllDesktopsButtonTopOffset=2
OnAllDesktopsUnderTitle=true
ShadeButton=WindowsStyle
ShadeButtonLeftOffset=0
ShadeButtonRightOffset=0
ShadeButtonTopOffset=2
ShadeUnderTitle=true
TitleAlignment=Left
TitleBorderLeft=8
TitleBorderRight=8
TitleBorderTop=0
TitleButtonSpacing=4
TitlelessTopMargin=0
TitleTopMargin=0
UseActiveBorderShading=false
UseActiveCustomizedSlices=false
UseActiveInactiveShading=false
UseActiveTitleGradient=false
UseCustomButtonColors=true
UseInactiveBorderShading=false
UseInactiveCustomizedSlices=false
UseInactiveInactiveShading=false
UseInactiveTitleGradient=false
ViewModel=DeepCorners
VisualBorderBottom=4
VisualBorderLeft=4
VisualBorderRight=4
VisualBorderTop=4
WindowBorder=false
WindowBorderBottom=4
WindowBorderLeft=4
WindowBorderRight=4
WindowBorderTop=4
