/* Moegi Black GTK4 Theme Configuration */
/* Based on moegi-design color palette */

@define-color bg_color #0d0d0d;
@define-color fg_color #dddddd;
@define-color base_color #0d0d0d;
@define-color text_color #dddddd;
@define-color selected_bg_color #66b395;
@define-color selected_fg_color #ffffff;
@define-color tooltip_bg_color #181818;
@define-color tooltip_fg_color #dddddd;

/* Window colors */
@define-color window_bg #0d0d0d;
@define-color window_fg #dddddd;
@define-color headerbar_bg #050505;
@define-color headerbar_fg #aaaaaa;
@define-color headerbar_border #ffffff15;
@define-color card_bg #0d0d0d;
@define-color card_fg #dddddd;
@define-color popover_bg #181818;
@define-color popover_fg #dddddd;
@define-color dialog_bg #181818;
@define-color dialog_fg #dddddd;

/* Widget colors */
@define-color button_bg #0d0d0d;
@define-color button_fg #dddddd;
@define-color button_border #ffffff07;
@define-color button_hover_bg #292929;
@define-color button_active_bg #66b395;
@define-color button_active_fg #000000;

/* Entry colors */
@define-color entry_bg #0f0f0f;
@define-color entry_fg #dddddd;
@define-color entry_border #ffffff07;
@define-color entry_placeholder_fg #6c6c6c;

/* View colors */
@define-color view_bg #0d0d0d;
@define-color view_fg #dddddd;
@define-color view_hover_bg #292929;
@define-color view_selected_bg #66b395;
@define-color view_selected_fg #ffffff;

/* Accent colors */
@define-color accent_color #ff8787;
@define-color accent_bg_color #ff8787;
@define-color accent_fg_color #000000;
@define-color success_color #66b395;
@define-color success_bg_color #66b395;
@define-color success_fg_color #000000;
@define-color warning_color #e7d38f;
@define-color warning_bg_color #e7d38f;
@define-color warning_fg_color #000000;
@define-color error_color #ff8787;
@define-color error_bg_color #ff8787;
@define-color error_fg_color #000000;

/* Disabled colors */
@define-color disabled_fg #6c6c6c;
@define-color disabled_bg #0d0d0d;
@define-color disabled_border #ffffff05;

/* Link colors */
@define-color link_color #ff8787;
@define-color visited_link_color #ff8787cc;

/* Sidebar colors */
@define-color sidebar_bg #050505;
@define-color sidebar_fg #aaaaaa;
@define-color sidebar_border #ffffff15;

/* Tab colors */
@define-color tab_bg #050505;
@define-color tab_fg #aaaaaa;
@define-color tab_active_bg #0d0d0d;
@define-color tab_active_fg #dddddd;
@define-color tab_border #ffffff10;