services:
  jdownloader-2:
    image: jlesage/jdownloader-2
    ports:
      - "5800:5800"
    volumes:
      - "/home/drkxo/Apps/JDownloader:/config:rw"
      - "/home/drkxo/Downloads/JDownloader:/output:rw"
